*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    position: relative;
}
.img{
    height: 100vh;
    width: 100vw;
    object-fit:fill;
    position:absolute;
}
.same{
     height: 150px;
     width: 150px;
      filter: blur(1.5rem);
      position:absolute;
      border-radius: 50%;
      animation: blinker 2s linear infinite;
}
.yellow{
    background-color: yellow;
    top: 30%;
    left: 30%;
}
.green{
    background-color: green;
    top: 60%;
    left: 80%;
}
.pink{
    height: 120px;
    width: 120px;
    background-color: pink;
     top: 10%;
    left: 45%;
}
.purple{
    background-color: purple;
     top: 10%;
    left: 10%;
}
.orange{
    background-color: orange;
    bottom: 5%;
    left: 30%;
}
.red{
    background-color: red;
    bottom: 5%;
    right: 30%;
}
.blue{
    background-color: blueviolet;
    top: 25%;
    right: 30%;

}
.darkgreen{
     height: 140px;
    width: 140px;
    background-color: rgb(0, 255, 0);
    top: 50%;
    left: 50%;
}

@keyframes blinker {
  0%{
    opacity: 0.5;
  }
    50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
