* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
}

.img {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
    position: absolute;
}

.same {
    height: 150px;
    width: 150px;
    filter: blur(1.5rem);
    position: absolute;
    border-radius: 50%;
    animation: blinker 2s ease-in-out infinite;
}

.yellow {
    background-color: yellow;
    top: 10%;
    left: 20%;
}

.green {
    background-color: green;
    top: 150px;
    left: 80%;
}

.pink {
    height: 120px;
    width: 120px;
    background-color: pink;
    bottom: 50px;
    right: 30%;
}

.purple {
    background-color: purple;
    top: 75%;
    left: 10%;
}

.orange {
    background-color: orange;
    bottom: 200px;
    left: 50px;
}

.red {
    background-color: red;
    top: 5%;
    left: 600px;
}

.blue {
    background-color: blueviolet;
    top: 70%;
    left: 85%;

}

.darkgreen {
    height: 140px;
    width: 140px;
    background-color: rgb(0, 255, 0);
    top: 250px;
    left: 30%;
}

@keyframes blinker {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}