*{
    padding: 0;
    margin: 0;
}
h1{
    color: #f2e9e4;
    text-shadow: 5px 5px 5px #c9ada7;
    text-align: center;
}
body{
    height: 100vh;
    background-color:#000000;
     perspective: 1000px;
}
div{
    height: 150px;
    width: 150px;
    margin: 100px auto;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 61%, rgba(9, 9, 121, 1) 77%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 10px 10px 20px #ffffff;
    border-radius: 50%;
    animation: move 5s linear infinite;
     transform-style: preserve-3d;
}
@keyframes move  {
    0%{
        background: #020024;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 21%, rgba(9, 9, 121, 1) 61%, rgba(0, 212, 255, 1) 95%, rgba(255, 255, 255, 1) 99%);
    }
     50%{   
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 53%, rgba(9, 9, 121, 1) 74%, rgba(0, 247, 255, 1) 89%, rgba(255, 255, 255, 1) 97%);

     }

    100%{
   background: #020024;
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 64%, rgba(0, 247, 255, 1) 87%, rgba(255, 255, 255, 1) 97%);
    }
}

