*{
    padding: 0;
    margin: 0;
}
h1{
    color: #f2e9e4;
    text-shadow: 5px 5px 5px #c9ada7;
    text-align: center;
}
body{
    height: 100vh;
    background-color:#9a8c98;
}
div{
    height: 150px;
    width: 150px;
    margin: 100px auto;
    background-color: 4a4e69;
    box-shadow: 10px 10px 20px #22223b;
    border-radius: 50%;
    animation: move 2s infinite;
}
@keyframes move  {
    10%{
       height: 200px;
       width: 200px;
       background-color:#432818 ;
    }
    50%{
       height: 250px;
       width: 250px;
         background-color:#023047 ;
    }
    100%{
      height: 350px;
      width: 350px;
      background-color:#9d8189 ;
    }
}